@font-face {
    font-family: 'Noto Sans KR', sans-serif;
    src: url(../assets/fuentes/Noto_Sans_KR.zip);
}
*{
    color:rgb(3, 0, 7);
}
p{
    padding: 15px;
    margin: 30px;
}
/*table{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}*/